@tailwind base;
@tailwind components;
@tailwind utilities;

:root{ --primary: #f11320; scrollbar-color: var(--primary) #000; scrollbar-width: thin; }
body { overflow-x: hidden; scroll-behavior: smooth;}
*{ box-sizing: border-box; margin: 0; padding: 0; }
body::-webkit-scrollbar { width: 0.5em; background-color: #000; border-radius: 20px; }
body::-webkit-scrollbar-thumb { background-color: var(--primary); border-radius: 20px; }

body {
  @apply bg-white dark:text-black;
}

.dark body {
  @apply bg-darkGray text-white;
}

.simple_icons svg{
  fill: currentColor;
  stroke-width: 2;
}
