@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-white dark:text-black;
}

.dark body {
  @apply bg-darkGray text-white;
}

.simple_icons svg{
  fill: currentColor;
  stroke-width: 2;
}
