@tailwind base;
@tailwind components;
@tailwind utilities;

:root{ 
  --primary: #f11320; 
  --swiper-theme-color: #f11320 !important;
  --scrollbar-color: #71717a ;
  scrollbar-color: var(--scrollbar-color) #00000000; 
  scrollbar-width: auto; 
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.3;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-active-width: 24px;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 4px;
  --swiper-pagination-bottom: 24px;
  --swiper-pagination-bullet-active-border-radius: 0.5rem;
  
  --nextui-disabled-opacity: .75;
}
body { overflow-x: hidden; scroll-behavior: smooth;}
*{ box-sizing: border-box; margin: 0; padding: 0; }
body::-webkit-scrollbar { width: 0.5em; background-color: #000; border-radius: 20px; }
body::-webkit-scrollbar-thumb { background-color: var(--primary); border-radius: 20px; }

body {
  @apply bg-white dark:text-black;
}

.dark body {
  @apply bg-darkGray text-white;
}

.simple_icons svg{
  fill: currentColor;
  stroke-width: 2;
}
body .swiper-pagination-bullet-active{
    width: var(--swiper-pagination-bullet-active-width, var(--swiper-pagination-bullet-size, 8px));
    border-radius: var(--swiper-pagination-bullet-active-border-radius);
}

.peer{
  z-index: 1000;
}
.peer:placeholder-shown ~ .peer-placeholder-shown\:text-primary {
  --tw-text-opacity: 1;
  color: rgb(241 19 32 / var(--tw-text-opacity)) /* #f11320 */;
}


.tabs-container {
  position: relative;
}

.tabs-container .line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #0070f3; /* Your theme color */
  transition: transform 0.3s ease;
}

.tabs-container .tab.active .line {
  transform: scaleX(1); /* Expand the line to full width */
}